@page
@model MeshApp.Pages.Logs.IndexModel

@{
    ViewData["Title"] = "Logs";
}

<h1>Logs</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Logs[0].Id)</th>
            <th>@Html.DisplayNameFor(model => model.Logs[0].NodeId)</th>
            <th>@Html.DisplayNameFor(model => model.Logs[0].Type)</th>
            <th>@Html.DisplayNameFor(model => model.Logs[0].Value)</th>
            <th>@Html.DisplayNameFor(model => model.Logs[0].Timestamp)</th>
            <th>@Html.DisplayNameFor(model => model.Logs[0].Message)</th>
        </tr>
    </thead>
    @foreach (var item in Model.Logs)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.NodeId)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.Value)</td>
            <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
            <td>@Html.DisplayFor(modelItem => item.Message)</td>
        </tr>
    }
</table>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-route-currentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
